* {
  margin: 0;
  overflow: hidden;
}

canvas {
  display: fixed;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.mathjax {
  z-index: 10;
  position: absolute;
  top: 100;
  left: 100;
  background-color: transparent;
  font-size: 40px;
  visibility: hidden;
}

#rayForm {
  position: absolute;
  top: 10%;
  left : 80%;
}

#rayForm2 {
  position: absolute;
  top: 10%;
  left : 80%;
}

#rayForm3 {
  position: absolute;
  top: 10%;
  left : 80%;
}
/* 
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
}

.header .logo {
  font-size: 25px;
  font-family: 'Sriracha', cursive;
  color: #000;
  text-decoration: none;
  margin-left: 30px;
}

.nav-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f5f5f5;
  margin-right: 20px;
}

.nav-items a {
  text-decoration: none;
  color: #000;
  padding: 35px 20px;
} */

div {
  transition: opacity 0.5s;
}